{% extends "base.html" %}
{% load auth_extras %}
{% block content %}
    {% if messages %}
        <div class="mt-3">
            {% for message in messages %}
                <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
                    {{ message }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Chiudi"></button>
                </div>
            {% endfor %}
        </div>
    {% endif %}
    {% if user.is_authenticated and user|has_group:"redattori" %}
        <nav class="navbar navbar-expand navbar-light bg-white mt-2">
            <div class="container-fluid">
                <div class="navbar-nav me-auto">
                </div>
                <div class="d-flex align-items-center">

                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item me-2">
                            <a href="/gestione_eventi/" class="btn btn-primary btn-sm bd-white" role="button"><i class="bi bi-calendar-plus"></i> Aggiungi evento</a>
                        </li>
                        <li class="nav-item">
                            <a href="/gestione_tipologia/" class="btn btn-primary btn-sm ms-lg-2" role="button"><i class="bi bi-plus-square"></i> Aggiungi tipologia</a>
                        </li>
		            <ul>
                </div>
            </div>
        </nav>
    {% endif %}
    <h2 class="{% if user.is_authenticated and not user|has_group:"redattori" %} mt-5 {% endif %}">Pannello di gestione dei tuoi eventi</h2>
    <h3 class="h4 mt-3">Lista prossimi eventi inseriti</h3>
    {% if gestione_eventi_elenco %}
        <p>Hai inserito {{ gestione_eventi_elenco.count }} eventi che si devono ancora svolgere.</p>

            {% for evento_inserito in gestione_eventi_elenco %}
                <div class="card mb-3" >
                    <div class="row g-0">
                        <div class="col-md-3">
                            {% if evento_inserito.immagine_evento %}
                                <img src="{{ evento_inserito.immagine_evento.url }}" class="img-fluid rounded-start" alt="">
                            {% endif %}
                        </div>
                        <div class="col-md-9">

                                <div class="card-body">
                                    <h3 class="card-title h4"><a class="text-primary-emphasis" href="{% url 'evento' evento_inserito.id %}">{{ evento_inserito.nome_evento }}</a></h3>
                                    {% if evento_inserito.annullato %}
                                        <p class="badge bg-danger fs-6">Evento annullato!</p>
                                    {% endif %}
                                    {% if not evento_inserito.pubblicato %}
                                        <p class="badge bg-secondary fs-6">Evento non pubblicato!</p>
                                    {% endif %}

                                    <p class="card-text">
                                        {% for tipologia in evento_inserito.tipo_evento.all %}
                                            <span class="badge rounded-pill text-bg-dark">{{ tipologia.nome_tipo }}</span>
                                        {% endfor %}
                                        <br>
                                        {{ evento_inserito.data_ora_evento }}<br>
                                        <p>Posti disponibili: <span class="badge bg-success">{{ evento_inserito.posti_prenotabili}}</span> - Posti prenotati: <span class="badge bg-warning text-dark">{{ evento_inserito.prenotazione_set.count }}</span> {% if evento.prenotazione_set.count > 0 and is_creatore %} (<a href="/eventi/{{ evento.id }}/prenotazioni/">Dettaglio prenotazioni</a>) {% endif %}</p>
                                    </p>
                                </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
    {% else %}
        <p class="alert alert-warning" role="alert">Nessun evento inserito</p>
    {% endif %}

    <h3 class="mt-5 h4">Lista eventi inseriti passati</h3>
    {% if eventi_inseriti_passati %}
        <p>Hai inserito {{ eventi_inseriti_passati.count }} eventi ormai scaduti.</p>

            {% for evento_inserito in eventi_inseriti_passati %}
                <div class="card mb-3" >
                    <div class="row g-0">
                        <div class="col-12">

                                <div class="card-body">
                                    <h3 class="card-title h4" ><a  class="text-primary-emphasis" href="{% url 'evento' evento_inserito.id %}">{{ evento_inserito.nome_evento }}</a></h3>
                                        {% if evento_inserito.annullato %}
                                            <p class="badge bg-danger fs-6 mt-2 mt-md-0">Evento annullato!</p>
                                        {% endif %}
                                        {% if not evento_inserito.pubblicato %}
                                            <p class="badge bg-secondary fs-6 mt-2 mt-md-0">Evento non pubblicato!</p>
                                        {% endif %}

                                    <p class="card-text">
                                        {% for tipologia in evento_inserito.tipo_evento.all %}
                                            <span class="badge rounded-pill text-bg-dark">{{ tipologia.nome_tipo }}</span>
                                        {% endfor %}
                                        <br>
                                        {{ evento_inserito.data_ora_evento }}<br>
                                    </p>
                                </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
    {% else %}
        <p class="alert alert-warning" role="alert">Nessun evento scaduto tra quelli inseriti</p>
    {% endif %}
{% endblock content %}