{% extends "base.html" %}
{% load auth_extras %}
{% block content %}

    {% if messages %}
        <div class="messages-container mt-3">
            {% for message in messages %}
                <div class="alert alert-{% if message.tags == 'error' %}danger{% else %}{{ message.tags }}{% endif %} alert-dismissible fade show" role="alert">
                    {{ message|safe }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            {% endfor %}
        </div>
    {% endif %}
    <p class="mt-5">La piattaforma di riferimento per la cultura e il divertimento a Prato.
        Un unico spazio dove trovare i migliori eventi del territorio: dalle performance teatrali
        ai concerti, dalle competizioni sportive alle visite guidate e alle escursioni nella natura.
        Scopri cosa puoi fare, pianifica la tua agenda e prenota subito i tuoi eventi prferiti.</p>
    {% if prenotazioni_attive %}
        <h2 class="mb-4">I prossimi {{ prenotazioni_attive|length }} eventi che hai prenotato <i class="bi bi-bookmark-check"></i></h2>
        <div class="row row-cols-1 row-cols-md-4 g-4 pb-4 border-bottom border-4 border-warning-subtle">
            {% for prenotazione in prenotazioni_attive %}
                <div class="col">
                    <div class="card h-100">
                        {% if prenotazione.evento.immagine_evento %}
                            <img src="{{ prenotazione.evento.immagine_evento.url }}" class="card-img-top" alt="">
                        {% endif %}
                        <div class="card-body">
                            <h3 class="card-title h4"><a class="text-primary-emphasis" href="{% url 'evento' prenotazione.evento.id %}">{{ prenotazione.evento.nome_evento }}</a></h3>
                            <p class="card-text">
                                {% for tipologia in prenotazione.evento.tipo_evento.all %}
                                    <span class="badge rounded-pill text-bg-dark">{{ tipologia.nome_tipo }}</span>
                                {% endfor %}
                                <br>
                                {{ prenotazione.evento.data_ora_evento|date:"d F Y \o\r\e H:i" }}
                            </p>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% endif %}
    <h2 class="{% if not prenotazioni_attive %}mt-5{% else %}mt-3{% endif %} mb-4">I prossimi 6 eventi in progamma</h2>
    <div class="row row-cols-1 row-cols-md-3 g-4">
    {% for evento in eventi_prossimi %}
        <div class="col">
            <div class="card h-100">
                {% if evento.immagine_evento %}
                    <img src="{{ evento.immagine_evento.url }}" class="card-img-top" alt="">
                {% endif %}
                <div class="card-body">
                    <h3 class="card-title h4"><a class="text-primary-emphasis" href="{% url 'evento' evento.id %}">{{ evento.nome_evento }}</a></h3>
                    <p class="card-text">
                        {% for tipologia in evento.tipo_evento.all %}
                            <span class="badge rounded-pill text-bg-dark">{{ tipologia.nome_tipo }}</span>
                        {% endfor %}
                        <br>
                        {{ evento.data_ora_evento|date:"d F Y \o\r\e H:i" }}
                        {% if evento.annullato %}
                            <p class="badge bg-danger fs-6">Evento annullato!</p>
                        {% endif %}
                    {% if evento.id in eventi_prenotati_ids %}
                        <p class="badge bg-light text-dark fs-6">Evento prenotato</p>
                    {% endif %}
                    </p>
                </div>
            </div>
        </div>
    {% endfor %}
</div>
{% endblock content %}