{% extends "base.html" %}
{% block content %}
    {% if messages %}
        <div class="messages-container mt-3">
            {% for message in messages %}
                <div class="alert alert-{% if message.tags == 'error' %}danger{% else %}{{ message.tags }}{% endif %} alert-dismissible fade show" role="alert">
                    {{ message|safe }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            {% endfor %}
        </div>
    {% endif %}

    <h2 class="mt-5">Prenotazioni per l'evento {{ evento }}</h2>
    {% if prenotazioni %}
        <ul>
        {% for prenotazione in prenotazioni %}
            <li> Prenotazione di {{ prenotazione.utente }} del {{ prenotazione.data_prenotazione|date:"d/m/Y H:i" }}</li>
        {% endfor %}
        </ul>
    {% endif %}

{% endblock content %}
