{% extends "base.html" %}
{% block content %}
    {% if messages %}
        <div class="messages-container mt-3">
            {% for message in messages %}
                <div class="alert alert-{% if message.tags == 'error' %}danger{% else %}{{ message.tags }}{% endif %} alert-dismissible fade show" role="alert">
                    {{ message|safe }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            {% endfor %}
        </div>
    {% endif %}
    <h2 class="mt-5">Lista dei prossimi eventi prenotati</h2>

    {% if prenotazioni_utente %}
        <p>Ci sono {{ prenotazioni_utente.count }} prenotazioni attive.</p>
        <div class="row row-cols-1 row-cols-md-3 g-4">
            {% for prenotato in prenotazioni_utente %}
                <div class="col">
                    <div class="card h-100">
                            {% if prenotato.evento.immagine_evento %}
                                <img src="{{ prenotato.evento.immagine_evento.url }}" class="card-img-top" alt="">
                            {% endif %}
                            <div class="card-body">
                                <h3 class="card-title h4"><a class="text-primary-emphasis" href="{% url 'evento' prenotato.evento.id %}">{{ prenotato.evento.nome_evento }}</a></h3>
                                <p class="card-text">
                                    <span class="badge rounded-pill text-bg-dark">{{ prenotato.evento.tipo_evento}}</span><br>
                                    {{ prenotato.evento.data_ora_evento }}<br>
                                </p>
                            </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% else %}
        <p class="alert alert-warning" role="alert">Nessun evento prenotato</p>
    {% endif %}

    <h2 class="mt-5">Lista degli eventi prenotati in passato</h2>

    {% if prenotazioni_passate %}
        <p>Ci sono {{ prenotazioni_passate.count }} prenotazioni passate.</p>
        <div class="row g-4">
            {% for prenotato_old in prenotazioni_passate %}
                <div class="card mb-3" >
                    <div class="row g-0">
                        <div class="col-12">

                                <div class="card-body">
                                    <h3 class="card-title h4" ><a  class="text-primary-emphasis" href="{% url 'evento' prenotato_old.evento.id %}">{{ prenotato_old.evento.nome_evento }}</a></h3>
                                    <p class="card-text">
                                        <span class="badge rounded-pill text-bg-dark">{{ prenotato_old.evento.tipo_evento}}</span><br>
                                        {{ prenotato_old.evento.data_ora_evento }}<br>
                                    </p>
                                </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% else %}
        <p class="alert alert-warning" role="alert">Non ci sono eventi passati prenotati</p>
    {% endif %}

{% endblock content %}