{% extends "base.html" %}
{% block content %}
    {% if messages %}
        <div class="messages-container mt-3">
            {% for message in messages %}
                <div class="alert alert-{% if message.tags == 'error' %}danger{% else %}{{ message.tags }}{% endif %} alert-dismissible fade show" role="alert">
                    {{ message|safe }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            {% endfor %}
        </div>
    {% endif %}

    <nav class="navbar navbar-expand navbar-light bg-white mt-2">
        <div class="container-fluid d-flex justify-content-center">

            <div class="">

                <ul class="navbar-nav mb-2 mb-lg-0">
                    <li class="nav-item">
                        <div class="btn" role="button"><i class="bi bi-arrow-left-square"></i>   <a class="btn-link" href="/eventi/{{ evento.id }}/">Torna alla scheda dell'evento</a></div>
                    </li>
                <ul>
            </div>
        </div>
    </nav>

    <h2 class="mt-5">Prenotazioni per l'evento "{{ evento }}"</h2>
    {% if prenotazioni %}
        <ul class="mt-4">
        {% for prenotazione in prenotazioni %}
            <li> Prenotazione di <strong>{{ prenotazione.utente }}</strong> del {{ prenotazione.data_prenotazione|date:"d/m/Y H:i" }}
                <button type="button" class="btn btn-danger btn-sm" data-bs-toggle="modal" data-bs-target="#eliminaConferma" data-utente-nome="{{ prenotazione.utente }}"
                data-url-cancellazione="{% url 'cancella_prenotazione_evento' prenotazione.id %}">
                    <i class="bi bi-trash"></i> Elimina
                </button>
            </li>
        {% endfor %}
        </ul>

        <div class="modal fade" id="eliminaConferma" tabindex="-1" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                 <div class="modal-content">
                    <div class="modal-header">
                        <h3 class="h5 modal-title">Conferma Cancellazione</h3>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        Sei sicuro di voler cancellare la prenotazione di <strong id="modal-nome-utente">---</strong>? L'utente è in grado di cancellare la prenotazione in autonomia, questa è un'operazione deve essere eseguita solo in caso di problemi e solo su richiesta dell'utente stesso!
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No, torna indietro</button>

                        <form method="post" id="form_elimina_modale" action="">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-danger">Sì, continua ed elimina</button>
                        </form>
                    </div>
                 </div>
            </div>
        </div>

        <script>
            document.addEventListener('DOMContentLoaded', function () {
                var modalElimina = document.getElementById('eliminaConferma');

                modalElimina.addEventListener('show.bs.modal', function (event) {

                    var button = event.relatedTarget;

                    var nomeUtente = button.getAttribute('data-utente-nome');
                    var urlCancellazione = button.getAttribute('data-url-cancellazione');


                    var modalNomeUtente = modalElimina.querySelector('#modal-nome-utente');
                    var formElimina = modalElimina.querySelector('#form_elimina_modale');

                    modalNomeUtente.textContent = nomeUtente;
                    formElimina.setAttribute('action', urlCancellazione);
                });
             });
        </script>
    {% endif %}

{% endblock content %}
