{% extends "base.html" %}
{% block content %}
    <p>Scheda singolo eventi</p>
    <h1>{{ evento.nome_evento }}</h1>
    <p>Data: {{ evento.data_ora_evento }}</p>
    <p>Luogo: {{ evento.luogo_evento}}</p>
    <p>Tipologia: {{ evento.tipo_evento}}</p>
    <p>Descrizione: {{ evento.descrizione_evento }}</p>
    {% if evento.immagine_evento %}
        <img src="{{ evento.immagine_evento.url }}">
    {% endif %}

    <p>
    {% if user.is_authenticated %}
        {% if evento.posti_prenotabili > 0 %}
            <p>Posti disponibili: {{ evento.posti_prenotabili}}</p>
            <form method="post" action="{% url 'prenota_evento' evento.id %}">
                {% csrf_token %}
                <button type="submit" class="btn btn-success btn-lg">
                    Prenota
                </button>
            </form>
        {% else %}
            <button class="btn btn-secondary btn-lg" disabled>Posti Esauriti</button>
        {% endif %}
    {% else %}
    <div class="alert alert-warning d-inline-block">
            <a href="{% url 'login' %}?next={{ request.path }}" class="alert-link">Accedi</a> per poter prenotare questo evento.
        </div>
    {% endif %}
    </p>
{% endblock content %}