{% extends "base.html" %}
{% load auth_extras %}
{% block content %}
    {% now "Y-m-d H:i:s" as ora_attuale %}
    {% if messages %}
        <div class="messages-container mt-3">
            {% for message in messages %}
                <div class="alert alert-{% if message.tags == 'error' %}danger{% else %}{{ message.tags }}{% endif %} alert-dismissible fade show" role="alert">
                    {{ message|safe }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            {% endfor %}
        </div>
    {% endif %}
    <div class="row mt-5 mb-4">
        <div class="col-md-8">
            <h2>{{ evento.nome_evento }}
                {% if evento.annullato %}
                    <span class="badge bg-danger fs-6">Evento annullato!</span>
                {% endif %}
                {% if not evento.pubblicato %}
                    <span class="badge bg-secondary fs-6">Evento non pubblicato!</span>
                {% endif %}
            </h2>
            <p>Data: {{ evento.data_ora_evento }}<br>
                Luogo: {{ evento.luogo_evento}}<br>
                {% for tipologia in evento.tipo_evento.all %}
                    <span class="badge rounded-pill text-bg-dark">{{ tipologia.nome_tipo }}</span>
                {% endfor %}
            </p>
            <p>Descrizione: {{ evento.descrizione_evento }}</p>
            {% if evento.prezzo > 0 %}
                 <p>Prezzo: € {{ evento.prezzo }}</p>
            {% else %}
                <p>Prezzo: gratuito</p>
            {% endif %}
        </div>
        <div class="col-md-4">
            {% if evento.immagine_evento %}
                <img class="img-fluid" src="{{ evento.immagine_evento.url }}">
            {% endif %}
        </div>
    </div>



    <p>
    {% if is_creatore %}
        <p>Posti disponibili: <span class="badge bg-success">{{ evento.posti_prenotabili}}</span> - Posti prenotati: <span class="badge bg-warning text-dark">{{ evento.prenotazione_set.count }}</span> {% if evento.prenotazione_set.count > 0 and is_creatore %} (<a href="/eventi/{{ evento.id }}/prenotazioni/">Dettaglio prenotazioni</a>) {% endif %}</p>
        <div class="alert alert-primary d-inline-block">
            <i class="bi bi-pencil-square"></i> <a href="{% url 'gestione_eventi_modifica' evento.id %}" class="alert-link">Modifica l'evento</a>
        </div>
        {% if  evento.prenotazione_set.count > 0 %}
            <div class="alert alert-warning d-inline-block" >
                <i class="bi bi-exclamation-triangle"></i> Evento non eliminabile! Sono attive n. {{ evento.prenotazione_set.count }} prenotazioni.
            </div>
        {% else %}
             <div class="alert alert-primary d-inline-block">
                <i class="bi bi-x-circle"></i> <a href="{% url 'gestione_eventi_elimina' evento.pk %}" class="alert-link">Elimina evento</a>
            </div>
        {% endif %}
        {% if evento.data_ora_evento|date:"Y-m-d H:i:s" > ora_attuale %}
            <div class="alert alert-secondary">
                <i class="bi bi-box-arrow-in-right"></i> <a href="{% url 'login' %}?next={{ request.path }}" class="alert-link">Accedi</a> e prenota subito questo evento.
            </div>
        {% endif %}
    {% else %}
        {% if evento.posti_prenotabili > 0 or prenotazione_attiva %}
            <p>Posti disponibili: <span class="badge bg-success">{{ evento.posti_prenotabili}}</span> - Posti prenotati: <span class="badge bg-warning text-dark">{{ evento.prenotazione_set.count }}</span></p>
            {% if user.is_authenticated and not prenotazione_attiva and not user|has_group:"redattori" and not evento.annullato and evento.data_ora_evento|date:"Y-m-d H:i:s" > ora_attuale %}
                <form method="post" action="{% url 'prenota_evento' evento.id %}">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-success btn-lg">
                        <i class="bi bi-calendar-plus"></i> Prenota
                    </button>
                </form>
            {% elif prenotazione_attiva and evento.data_ora_evento|date:"Y-m-d H:i:s" > ora_attuale %}
                <div class="alert alert-light d-inline-block p-2">
                    <p class="m-1"><i class="bi bi-calendar-check"></i> Evento già prenotato</p>
                </div>
                <form method="post" action="{% url 'cancella_prenotazione_evento' prenotazione_identificativo %}" class="d-inline-block">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-secondary">
                        <i class="bi bi-trash"></i> Cancella prenotazione
                    </button>
                </form>
            {% elif not evento.annullato and evento.data_ora_evento|date:"Y-m-d H:i:s" > ora_attuale %}
                 <div class="alert alert-warning d-inline-block">
                    <i class="bi bi-box-arrow-in-right"></i> <a href="{% url 'login' %}?next={{ request.path }}" class="alert-link">Accedi</a> e prenota subito questo evento.
                </div>
            {% endif %}
        {% elif not evento.annullato and evento.data_ora_evento|date:"Y-m-d H:i:s" > ora_attuale %}
            <p class="alert alert-warning d-inline-block"><i class="bi bi-calendar-x"></i> Disponibilità esaurita, sono stati prenotati tutti i {{ evento.prenotazione_set.count }} disponibili</p>
        {% endif %}
    {% endif %}
    </p>
{% endblock content %}